
<div class="title">
<h1>WELCOME TO DOTS AND BOXES GAME</h1>
</div>




<div class='accueil-haut'>
   </div>


<form [formGroup]="players" #form="ngForm" (ngSubmit)="onSubmit(form)" method="post">
    <div class="body">
        
  
        <label  style="padding-left:1cm;color:darkblue"  for="player1">Player :</label>
  

        <input class='input' type="text" formControlName="player1"   />
       
        <div *ngIf="!players.controls.player1.valid  && (players.controls.player1.dirty || submitAttempt)" class="invalid-feedback">
            <p>Username is required</p>
        </div>

        <div style="width: 5cm;height: 1.5cm;">
        </div>
        &nbsp;
        &nbsp;
        &nbsp;
        &nbsp;
        <button   [disabled]="loading" class="btn">
            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
            NEXT
        </button>
    </div>



    
      

    
</form>


