.addbutton
{ 
    position: relative;
    left:20%;
    top: 100px;
    
    color: #fff !important;
    text-transform: uppercase;
    text-decoration: none;
    background: #ed3330;
    padding: 20px;
    border-radius: 5px;
    display: inline-block;
    border: none;
    transition: all 0.4s ease 0s;
}

.trTable th
{   
    background: rgb(226, 230, 25);
    font-size: 20px;
    border: thin solid #80807d;
    width: 180px;
    border-radius: 5px;
}

.trTable td
{
    background: rgb(200, 201, 168);
    font-size: 10px;
    border: thin solid #80807d;
    width: 80%;
    border-radius: 5px;
}

.table
{    right: 5%;
    left: 0%;
    position:relative;
    top: 160px;
    width: 100%;
}

.table td{
    background: rgb(248, 250, 230);
    font-size: 20px;
    border: thin solid #80807d;
    width: 180px;
    height:3cm;
}